POSTGRES_PASSWORD=change_this_password
CONTAINER_PREFIX=orulzip
POSTGRES_DATA_DIR=/mnt/elements10tb/orulzip/postgres
WEB_PORT=3050
MOLIT_APT_TRADE_SERVICE_KEY=
NAVER_MAP_NCP_KEY_ID=
NAVER_MAP_NCP_KEY_SECRET=
ORULZIP_ADMIN_USER=
ORULZIP_ADMIN_PASSWORD=
ORULZIP_ADMIN_SESSION_SECRET=
ORULZIP_ADMIN_COOKIE_SECURE=0
